<header>
  <nav class="navbar navbar-expand-md  navbar-dark " style="background-color: #212121;">
    <a class="navbar-brand" routerLink="/home">

      <img src="./assets/params/images/logo/logo CAIF en PNG (1).png" width="50" height="50" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">
            <h5><i class="fas fa-home mr-1"></i>
              Accueil</h5>
          </a>
        </li>
        <li class="nav-item active">
          <div class="dropdown show">
            <a class="navbar-brand dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-utensils"></i>Hôtellerie-Restauration
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" routerLink="/hotellericap">CAP</a>
              <a class="dropdown-item" routerLink="/hotelleribep">BEP</a>
            </div>
          </div>
        </li>
        <li class="nav-item active">
          <div class="dropdown show">
            <a class="navbar-brand dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-cut"></i>Couture-Confection
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" routerLink="/couturecap">CAP</a>

            </div>
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/contact">
            <h5><i class="fas fa-envelope mr-1"></i> Contact</h5>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>