<div class="" style="padding-top: 12%;">
  <div class="row p-0">
    <div class="col-12 w-100 p-0 col-sm-6">

      <img class="w-100" src="./assets/params/images/logo/devanture.jpg" alt="Image Siege CAIF ">
    </div>
    <div class="col-12 col-sm-6 p-0">
      <div class="d-flex flex-column justify-content-center w-100 p-5 ">
        <h2 class="" style="font-size:72px;color: #4493D2;line-height: 84px;">CAIF</h2>
        <h4 class="" style="font-size: 36px;
line-height: 42px;">CAIF vous propose différents types de formations adaptées à vos besoins. Des cursus
          professionnelles en Couture, Dessin
          de Mode , Patronage , Restauration et Hôtellerie. CAIF c'est des formations initiales , continues, à Dakar et
          dans la
          sous région. Formez-vous et donnez-vous toutes les chances d'obtenir un DQP, CAP ou BEP et de trouver un
          emploi
          gratifiant dans le secteur de l'industrie textile ou le secteur du tourisme. </h4>
      </div>
    </div>
  </div>
  <div class="row p-5" style="background-color:  rgba(131, 150, 166, 0.11)">
    <div class="col-sm-12  p-0  ">
      <h1 class="text-center" style="color:#4493D2;">Le Concept</h1>
    </div>
    <div class="row my-5">
      <div class="col-sm-4">
        <div class="d-flex  border rounded  p-4 mb-5 h-100  w-100" style="background-color:#84B8E2">

          <div class="text-white ml-2 border-left border-1 p-1">
            <h2 class="">1.Hôtellerie-Restauration</h2>
            <p class="">En Restauration & Hôtellerie propose trois types de diplômes : Le Diplôme de Qualification
              Professionnelle dit DQP qui
              est un diplôme d'école, qui se prépare sur 12 mois. Le CAP qui est un diplôme d'ETAT, qui se prépare sur 3
              ans. Le BEP
              qui est un diplome d'ETAT , qui se prépare sur 2 ans.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class=" d-flex justify-content-center border rounded p-4 mx-auto mb-5 h-100  w-100 "
          style="background-color: #4493D2">

          <div class="text-white ml-2 border-left border-1 p-1">
            <h2 class="">2.Couture & Confection</h2>
            <p class="">En Couture & Dessin de Mode & Patronage propose deux types de diplômes : LeDiplôme de
              Qualification Professionnelle dit
              DQP qui est un diplôme d'école, qui se prépare sur 2 ans. Le CAP qui est un diplôme d'ETAT, qui se prépare
              sur 3 ans.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class=" d-flex border rounded p-4 mb-5 h-100 w-100" style="background-color:  #294070">
          <!-- <div class="border w-25 h-25 rounded-circle bg-primary" style="position:absolute;left:37%;top:-14%">
                        <h3 class="text-center text-white mt-3 ">3</h3>
                    </div> -->

          <div class="text-white ml-2 border-left border-1 p-1">
            <h2 class="">3.Formations</h2>
            <p class="">Propose un minimum de 80 heures de formations : en Hygiène, cuisine, Boulangerie, Pâtisserie,
              Couture, Coupe, Dessin,
              Teinture, Coiffure ou Leadership etc. Des formations adaptées en fonctions de vos besoins et proposées à
              travers tous le
              Sénégal</p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="row  " style="background-color:black;height:5rem;">
    <div class="col-sm-12 p-0 my-auto">

      <div class="border-bottom border-top border-white mt-1 mx-auto w-50 text-white">
        <p class="text-center mt-1">Envoyez nous un email I Appelez au +221 33 825 13 50 I Localisez-nous</p>
      </div>

    </div>
  </div>
</div>