<div class="" style="padding-top: 12%;">
  <div class="row p-0">
    <div class="col-12 w-100 p-0 col-sm-6">

      <img class="w-100" height="60%" src="./assets/params/images/logo/devanture.jpg" alt="Image Siege CAIF ">
    </div>
    <div class="col-12 col-sm-6 p-0">
      <div class="d-flex flex-column justify-content-center w-100 p-5 ">
        <h2 class="" style="font-size:72px;color: #4493D2;line-height: 84px;">CAIF</h2>
        <h4 class="" style="font-size: 36px;
line-height: 42px;">Formez-vous et obtenez votre CAP ou BEP en Hôtellerie-Restauration et
          Couture-Confection </h4>
      </div>
    </div>
  </div>
  <div class="row p-5" style="background-color:  rgba(131, 150, 166, 0.11)">
    <div class="col-sm-12  p-0  ">
      <h1 class="text-center" style="color:#4493D2;">Categories</h1>
    </div>
    <div class="row my-5">



    </div>
  </div>
  <div class="row  " style="background-color:black;height:5rem;">
    <div class="col-sm-12 p-0 my-auto">

      <div class="border-bottom border-top border-white mt-1 mx-auto w-50 text-white">
        <p class="text-center mt-1">Envoyez nous un email I Appelez au +221 33 864 97 97 I Localisez-nous</p>
      </div>

    </div>
  </div>
</div>